# Let's start some basic analytics

In [79]:
import sys
import sqlite3
from collections import Counter

import pandas as pd

sys.path.append("..")

import src.utils as utils

In [2]:
db_path = utils.root_path / "data" / "data.db"
db_path.exists()

True

In [3]:
conn = sqlite3.connect(str(db_path))

In [4]:
query = """SELECT forecasts.CITY, 
        date(FORECAST_DATE) as forecast_date, 
        PLATFORM, 
        forecasts.TEMPERATURE as forecast_temperature,
        date(DATE) as observed_date,
        observed_temp.TEMPERATURE as observed_temperature
 FROM forecasts
LEFT JOIN observed_temp
ON forecasts.city = observed_temp.city
AND date(forecasts.forecast_date) = date(observed_temp.date);
"""

In [5]:
df = pd.read_sql_query(query, conn)
df

,CITY,forecast_date,PLATFORM,forecast_temperature,observed_date,observed_temperature
0,CHI,2022-11-05,TWC,65,2022-11-05,71.0
1,NYC,2022-11-05,TWC,73,2022-11-05,76.0
2,NYC,2022-11-05,Accuweather,73,2022-11-05,76.0
3,CHI,2022-11-05,Accuweather,63,2022-11-05,71.0
4,NYC,2022-11-05,NWS,72,2022-11-05,76.0
...,...,...,...,...,...,...
184,CHI,2022-11-12,Accuweather,39,None,NaN
185,NYC,2022-11-12,NWS,71,None,NaN
186,CHI,2022-11-12,NWS,38,None,NaN
187,NYC,2022-11-12,foreca,70,None,NaN
188,CHI,2022-11-12,foreca,39,None,NaN

In [6]:
df = df.dropna(subset=['observed_temperature', "forecast_temperature"])
df

,CITY,forecast_date,PLATFORM,forecast_temperature,observed_date,observed_temperature
0,CHI,2022-11-05,TWC,65,2022-11-05,71.0
1,NYC,2022-11-05,TWC,73,2022-11-05,76.0
2,NYC,2022-11-05,Accuweather,73,2022-11-05,76.0
3,CHI,2022-11-05,Accuweather,63,2022-11-05,71.0
4,NYC,2022-11-05,NWS,72,2022-11-05,76.0
...,...,...,...,...,...,...
172,CHI,2022-10-25,TWC,66,2022-10-25,71.0
173,CHI,2022-11-10,TWC,76,2022-11-10,76.0
176,CHI,2022-11-10,Accuweather,74,2022-11-10,76.0
178,CHI,2022-11-10,NWS,72,2022-11-10,76.0
180,CHI,2022-11-10,foreca,73,2022-11-10,76.0

In [7]:
df[df["forecast_temperature"] == '']

Empty DataFrame
Columns: [CITY, forecast_date, PLATFORM, forecast_temperature, observed_date, observed_temperature]
Index: []

In [8]:
print(df["forecast_temperature"].to_string())

0      65
1      73
2      73
3      63
4      72
5      61
6      72
7      66
8      64
9      74
10     74
11     63
12     74
13     61
14     72
15     63
16     55
17     74
18     76
19     56
20     74
21     53
22     75
23     54
24     59
25     56
26     57
27     58
28     56
29     56
30     57
31     57
32     70
33     53
34     55
35     68
36     57
37     67
38     52
39     70
56     63
57     64
58     63
59     64
60     62
61     61
62     62
63     59
64     60
65     61
66     61
67     56
68     58
69     57
70     61
71     63
72     66
73     63
74     64
75     68
76     70
77     70
78     69
79     69
80     69
81     66
82     69
83     66
84     65
85     68
86     66
87     66
88     65
89     64
90     66
91     56
92     56
93     55
94     56
95     61
96     61
97     61
98     62
99     62
100    65
101    63
102    64
103    68
104    69
105    68
106    70
123    58
124    61
125    60
126    61
127    62
128    63
129    65
130    59
131    63
132    65
133    66
134    64
135    60
136    61
137    60
138    61
139    54
140    58
141    56
142    57
143    55
144    57
145    57
146    57
147    52
148    54
149    57
150    55
151    54
152    55
153    57
154    57
155    41
156    42
157    44
158    41
159    47
160    45
161    48
162    46
163    77
164    77
165    80
166    79
167    75
168    76
169    78
170    62
171    65
172    66
173    76
176    74
178    72
180    73

In [9]:
df["observed_temperature"] = df["observed_temperature"].astype(int)
df["forecast_temperature"] = df["forecast_temperature"].astype(int)
df

/tmp/ipykernel_10419/2382561297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["observed_temperature"] = df["observed_temperature"].astype(int)
/tmp/ipykernel_10419/2382561297.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["forecast_temperature"] = df["forecast_temperature"].astype(int)

,CITY,forecast_date,PLATFORM,forecast_temperature,observed_date,observed_temperature
0,CHI,2022-11-05,TWC,65,2022-11-05,71
1,NYC,2022-11-05,TWC,73,2022-11-05,76
2,NYC,2022-11-05,Accuweather,73,2022-11-05,76
3,CHI,2022-11-05,Accuweather,63,2022-11-05,71
4,NYC,2022-11-05,NWS,72,2022-11-05,76
...,...,...,...,...,...,...
172,CHI,2022-10-25,TWC,66,2022-10-25,71
173,CHI,2022-11-10,TWC,76,2022-11-10,76
176,CHI,2022-11-10,Accuweather,74,2022-11-10,76
178,CHI,2022-11-10,NWS,72,2022-11-10,76
180,CHI,2022-11-10,foreca,73,2022-11-10,76

In [10]:
df["error"] = df["forecast_temperature"] - df["observed_temperature"]
df

/tmp/ipykernel_10419/1744064141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["error"] = df["forecast_temperature"] - df["observed_temperature"]

,CITY,forecast_date,PLATFORM,forecast_temperature,observed_date,observed_temperature,error
0,CHI,2022-11-05,TWC,65,2022-11-05,71,-6
1,NYC,2022-11-05,TWC,73,2022-11-05,76,-3
2,NYC,2022-11-05,Accuweather,73,2022-11-05,76,-3
3,CHI,2022-11-05,Accuweather,63,2022-11-05,71,-8
4,NYC,2022-11-05,NWS,72,2022-11-05,76,-4
...,...,...,...,...,...,...,...
172,CHI,2022-10-25,TWC,66,2022-10-25,71,-5
173,CHI,2022-11-10,TWC,76,2022-11-10,76,0
176,CHI,2022-11-10,Accuweather,74,2022-11-10,76,-2
178,CHI,2022-11-10,NWS,72,2022-11-10,76,-4
180,CHI,2022-11-10,foreca,73,2022-11-10,76,-3

In [13]:
df_chi = df[df["CITY"]=='CHI']

In [25]:
errors = df_chi[["PLATFORM", "error"]].groupby('PLATFORM')["error"].value_counts()
errors

PLATFORM     error
Accuweather  -2       4
              0       4
             -4       2
             -3       2
             -1       2
              4       2
             -8       1
             -6       1
             -5       1
NWS          -3       6
             -4       5
             -5       2
             -10      1
             -9       1
             -2       1
             -1       1
              0       1
              2       1
TWC          -1       6
              0       5
             -2       2
              2       2
             -6       1
             -5       1
             -3       1
              5       1
foreca        0       5
             -4       3
             -3       2
             -2       2
              3       2
             -8       1
             -5       1
             -1       1
Name: error, dtype: int64

In [29]:
accu_error = errors["Accuweather"]
accu_error

error
-2    4
 0    4
-4    2
-3    2
-1    2
 4    2
-8    1
-6    1
-5    1
Name: error, dtype: int64

In [26]:
errors_dict = errors["Accuweather"].to_dict()
errors_dict

{-2: 4, 0: 4, -4: 2, -3: 2, -1: 2, 4: 2, -8: 1, -6: 1, -5: 1}

## Mean

Okay I want to see what the mean looks like as well

In [41]:
means = df_chi.groupby("forecast_date")[["forecast_temperature", "observed_temperature"]].mean()
means

               forecast_temperature  observed_temperature
forecast_date
2022-10-15                54.500000                  55.0
2022-10-16                55.750000                  57.0
2022-10-17                42.000000                  45.0
2022-10-18                46.500000                  50.0
2022-10-23                78.250000                  81.0
2022-10-24                76.333333                  79.0
2022-10-25                64.333333                  71.0
2022-10-26                56.500000                  57.0
2022-10-27                56.250000                  54.0
2022-10-28                60.500000                  61.0
2022-10-29                64.500000                  67.0
2022-10-30                62.250000                  67.0
2022-10-31                60.000000                  61.0
2022-11-05                63.750000                  71.0
2022-11-06                62.750000                  64.0
2022-11-07                54.500000                  58.0
2022-11-08                57.500000                  54.0
2022-11-09                68.750000                  70.0
2022-11-10                73.750000                  76.0

In [48]:
means["f_t_round"] = means["forecast_temperature"].round().astype(int)
means["error"] = means["f_t_round"] - means["observed_temperature"]

In [49]:
means["error"].mean()

-2.210526315789474

In [51]:
means["error"].abs().mean()

2.8421052631578947

### Metrics

Okay so I guess we want to get the mean and stdev?

In [34]:
df_chi_accu = df_chi[df_chi["PLATFORM"] == "Accuweather"]
df_chi_accu

,CITY,forecast_date,PLATFORM,forecast_temperature,observed_date,observed_temperature,error
3,CHI,2022-11-05,Accuweather,63,2022-11-05,71,-8
11,CHI,2022-11-06,Accuweather,63,2022-11-06,64,-1
19,CHI,2022-11-07,Accuweather,56,2022-11-07,58,-2
27,CHI,2022-11-08,Accuweather,58,2022-11-08,54,4
35,CHI,2022-11-09,Accuweather,68,2022-11-09,70,-2
124,CHI,2022-10-31,Accuweather,61,2022-10-31,61,0
128,CHI,2022-10-30,Accuweather,63,2022-10-30,67,-4
132,CHI,2022-10-29,Accuweather,65,2022-10-29,67,-2
136,CHI,2022-10-28,Accuweather,61,2022-10-28,61,0
140,CHI,2022-10-27,Accuweather,58,2022-10-27,54,4
144,CHI,2022-10-26,Accuweather,57,2022-10-26,57,0
148,CHI,2022-10-15,Accuweather,54,2022-10-15,55,-1
154,CHI,2022-10-16,Accuweather,57,2022-10-16,57,0
156,CHI,2022-10-17,Accuweather,42,2022-10-17,45,-3
160,CHI,2022-10-18,Accuweather,45,2022-10-18,50,-5
164,CHI,2022-10-23,Accuweather,77,2022-10-23,81,-4
168,CHI,2022-10-24,Accuweather,76,2022-10-24,79,-3
171,CHI,2022-10-25,Accuweather,65,2022-10-25,71,-6
176,CHI,2022-11-10,Accuweather,74,2022-11-10,76,-2

In [52]:
df_chi_accu["error"].mean()
df_chi_accu["error"].abs().mean()

2.6842105263157894

In [56]:
def metrics(df, platform, city):
    df = df.copy()
    
    df = df[df["CITY"]== city]
    df = df[df["PLATFORM"] == platform]
    
    mean = df["error"].mean()
    abs_mean = df["error"].abs().mean()
    
    print(f'Mean Error for {platform} in {city}: {mean}')
    print(f'Mean Absolute Error for {platform} in {city}: {abs_mean}')
    
metrics(df, "foreca", "CHI")

Mean Error for foreca in CHI: -1.7647058823529411
Mean Absolute Error for foreca in CHI: 2.4705882352941178

In [64]:
for city in set(df["CITY"]):
    
    for platform in set(df["PLATFORM"]):
        
        metrics(df, platform, city)
        print("\n")

Mean Error for Accuweather in NYC: 0.1111111111111111
Mean Absolute Error for Accuweather in NYC: 1.5555555555555556


Mean Error for TWC in NYC: -0.8333333333333334
Mean Absolute Error for TWC in NYC: 1.3888888888888888


Mean Error for NWS in NYC: -0.05555555555555555
Mean Absolute Error for NWS in NYC: 1.7222222222222223


Mean Error for foreca in NYC: -1.0
Mean Absolute Error for foreca in NYC: 2.2941176470588234


Mean Error for Accuweather in CHI: -1.8421052631578947
Mean Absolute Error for Accuweather in CHI: 2.6842105263157894


Mean Error for TWC in CHI: -0.7894736842105263
Mean Absolute Error for TWC in CHI: 1.736842105263158


Mean Error for NWS in CHI: -3.5789473684210527
Mean Absolute Error for NWS in CHI: 3.789473684210526


Mean Error for foreca in CHI: -1.7647058823529411
Mean Absolute Error for foreca in CHI: 2.4705882352941178

### Get Odds

Okay this is going to be super crazy but whatever

Heres' a good start: https://stackoverflow.com/questions/38711541/how-to-compute-the-probability-of-a-value-given-a-list-of-samples-from-a-distrib

In [77]:
def odds(df, platform, city):
    df = df.copy()
    df = df[df["CITY"]== city]
    df = df[df["PLATFORM"] == platform]
    
    counts = df["error"].value_counts()
    total = counts.sum()
    
    
    
    return counts / total

error_odds = odds(df, "foreca", "CHI")
error_odds

 0    0.294118
-4    0.176471
 3    0.117647
-3    0.117647
-2    0.117647
-5    0.058824
-1    0.058824
-8    0.058824
Name: error, dtype: float64

### And now given that table

We want to be able to say, what is the probability of it being 71 deg when the forecast is 72.

In [87]:
def probability_blaster(forecast, threshold, operator, odds):
    diff = forecast - threshold
    
    if operator == "lt":
        new_odds = odds[odds.keys() < diff]
    
    return new_odds.sum()
    
probability_blaster(71, 72, "lt", error_odds)

0.5294117647058824

### Here is the next step!!!!

So let's say you wanted to have an ensemble. You can't just get the probabilities from each of them. Just think bout it it now that you have this.

So what you have to do is get the numbers and the counts for each platform and then go from there.

NOW! this only matters if it's a different number of observations. This is worth investigating.