# Sup Synoptic

https://developers.synopticdata.com/mesonet/v2/stations/timeseries/

## CONVENTION 

All saved times (have to fix this) are ZULU time. But for processing, they are converted to location time.

* [ ] Don't forget to add the table init!!!11

In [1]:
import requests
import configparser
from datetime import datetime, timedelta
import pytz
import sqlite3

import pandas as pd

In [2]:
config = configparser.ConfigParser()
config.read("../config")

['../config']

In [3]:
token = config["synoptic"]["token"]

In [4]:
base_url = "https://api.synopticdata.com/v2/stations/timeseries?"

## start and end

Let's just pretend that we want to get yesterday's high temperature

YYYYmmddHHMM. Where YYYY is year, mm is month, dd is day, HH is hour, and MM is minutes

start=201306011800&end=201306021215

In [5]:
yesterday = datetime.now() - timedelta(days=1)
yesterday

datetime.datetime(2022, 11, 9, 16, 17, 52, 160912)

In [6]:
yesterday = yesterday.strftime("%Y%m%d")

In [7]:
yesterday_start = yesterday + "0001"
yesterday_end = yesterday + "2359"

## station ID

stid=knyc

In [8]:
stid='knyc'

In [9]:
final_url = f"{base_url}&stid={stid}&start={yesterday_start}&units=temp|F&end={yesterday_end}&showemptystations=1&token={token}"
final_url

'https://api.synopticdata.com/v2/stations/timeseries?&stid=knyc&start=202211090001&units=temp|F&end=202211092359&showemptystations=1&token=933a6b2f4c4e46898f8e80c91225fd04'

In [10]:
r = requests.get(final_url)

In [11]:
weather = r.json()
weather.keys()

dict_keys(['UNITS', 'QC_SUMMARY', 'STATION', 'SUMMARY'])

In [12]:
weather["STATION"][0].keys()

dict_keys(['STATUS', 'MNET_ID', 'PERIOD_OF_RECORD', 'ELEVATION', 'NAME', 'STID', 'SENSOR_VARIABLES', 'ELEV_DEM', 'LONGITUDE', 'UNITS', 'STATE', 'OBSERVATIONS', 'RESTRICTED', 'QC_FLAGGED', 'LATITUDE', 'TIMEZONE', 'ID'])

In [13]:
weather["STATION"][0]["OBSERVATIONS"].keys()

dict_keys(['altimeter_set_1', 'wind_cardinal_direction_set_1d', 'wind_gust_set_1', 'wind_chill_set_1d', 'weather_summary_set_1d', 'sea_level_pressure_set_1', 'sea_level_pressure_set_1d', 'cloud_layer_1_code_set_1', 'cloud_layer_1_set_1d', 'air_temp_low_6_hour_set_1', 'air_temp_high_24_hour_set_1', 'pressure_set_1d', 'pressure_tendency_set_1', 'metar_set_1', 'relative_humidity_set_1', 'wind_speed_set_1', 'air_temp_set_1', 'air_temp_high_6_hour_set_1', 'date_time', 'dew_point_temperature_set_1d', 'visibility_set_1', 'dew_point_temperature_set_1', 'air_temp_low_24_hour_set_1', 'metar_origin_set_1', 'wind_direction_set_1'])

In [14]:
date_time = weather["STATION"][0]["OBSERVATIONS"]['date_time']
date_time

['2022-11-09T00:51:00Z',
 '2022-11-09T01:51:00Z',
 '2022-11-09T02:51:00Z',
 '2022-11-09T03:51:00Z',
 '2022-11-09T04:51:00Z',
 '2022-11-09T05:51:00Z',
 '2022-11-09T06:51:00Z',
 '2022-11-09T07:51:00Z',
 '2022-11-09T08:51:00Z',
 '2022-11-09T09:51:00Z',
 '2022-11-09T10:51:00Z',
 '2022-11-09T11:51:00Z',
 '2022-11-09T12:51:00Z',
 '2022-11-09T13:51:00Z',
 '2022-11-09T14:51:00Z',
 '2022-11-09T15:51:00Z',
 '2022-11-09T16:51:00Z',
 '2022-11-09T17:51:00Z',
 '2022-11-09T18:51:00Z',
 '2022-11-09T19:51:00Z',
 '2022-11-09T20:51:00Z',
 '2022-11-09T21:51:00Z',
 '2022-11-09T22:51:00Z',
 '2022-11-09T23:51:00Z']

In [15]:
utc = pytz.timezone("UTC")

In [16]:
nyc = pytz.timezone("America/New_York")

In [17]:
str(utc.localize(datetime.strptime(date_time[0], "%Y-%m-%dT%H:%M:%SZ")).astimezone(nyc))

'2022-11-08 19:51:00-05:00'

In [18]:
def utc_to_local(date, utc, tz):
    
    dt = datetime.strptime(date, "%Y-%m-%dT%H:%M:%SZ")
    utc_time = utc.localize(dt)
    
    return str(utc_time.astimezone(nyc))

In [22]:
nyc_dates = [utc_to_local(i, utc, nyc) for i in date_time]

In [19]:
highs = weather["STATION"][0]["OBSERVATIONS"]['air_temp_high_24_hour_set_1']
highs

[None,
 None,
 None,
 None,
 57.92,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [20]:
pd.Series(highs, index=date_time)

2022-11-09T00:51:00Z      NaN
2022-11-09T01:51:00Z      NaN
2022-11-09T02:51:00Z      NaN
2022-11-09T03:51:00Z      NaN
2022-11-09T04:51:00Z    57.92
2022-11-09T05:51:00Z      NaN
2022-11-09T06:51:00Z      NaN
2022-11-09T07:51:00Z      NaN
2022-11-09T08:51:00Z      NaN
2022-11-09T09:51:00Z      NaN
2022-11-09T10:51:00Z      NaN
2022-11-09T11:51:00Z      NaN
2022-11-09T12:51:00Z      NaN
2022-11-09T13:51:00Z      NaN
2022-11-09T14:51:00Z      NaN
2022-11-09T15:51:00Z      NaN
2022-11-09T16:51:00Z      NaN
2022-11-09T17:51:00Z      NaN
2022-11-09T18:51:00Z      NaN
2022-11-09T19:51:00Z      NaN
2022-11-09T20:51:00Z      NaN
2022-11-09T21:51:00Z      NaN
2022-11-09T22:51:00Z      NaN
2022-11-09T23:51:00Z      NaN
dtype: float64

In [23]:
pd.Series(highs, index=nyc_dates)

2022-11-08 19:51:00-05:00      NaN
2022-11-08 20:51:00-05:00      NaN
2022-11-08 21:51:00-05:00      NaN
2022-11-08 22:51:00-05:00      NaN
2022-11-08 23:51:00-05:00    57.92
2022-11-09 00:51:00-05:00      NaN
2022-11-09 01:51:00-05:00      NaN
2022-11-09 02:51:00-05:00      NaN
2022-11-09 03:51:00-05:00      NaN
2022-11-09 04:51:00-05:00      NaN
2022-11-09 05:51:00-05:00      NaN
2022-11-09 06:51:00-05:00      NaN
2022-11-09 07:51:00-05:00      NaN
2022-11-09 08:51:00-05:00      NaN
2022-11-09 09:51:00-05:00      NaN
2022-11-09 10:51:00-05:00      NaN
2022-11-09 11:51:00-05:00      NaN
2022-11-09 12:51:00-05:00      NaN
2022-11-09 13:51:00-05:00      NaN
2022-11-09 14:51:00-05:00      NaN
2022-11-09 15:51:00-05:00      NaN
2022-11-09 16:51:00-05:00      NaN
2022-11-09 17:51:00-05:00      NaN
2022-11-09 18:51:00-05:00      NaN
dtype: float64

In [24]:
len(date_time)

24

### More shit

In [25]:
start_day = datetime.now().replace(day=15, month=10)
start_day = start_day.strftime("%Y%m%d") + "0001" 
start_day

'202210150001'

In [26]:
today = datetime.now().strftime("%Y%m%d%H%M")
today

'202211101619'

In [27]:
final_url = f"{base_url}&stid={stid}&start={start_day}&units=temp|F&end={today}&showemptystations=1&token={token}"
final_url

'https://api.synopticdata.com/v2/stations/timeseries?&stid=knyc&start=202210150001&units=temp|F&end=202211101619&showemptystations=1&token=933a6b2f4c4e46898f8e80c91225fd04'

In [28]:
r = requests.get(final_url)

In [29]:
r_json = r.json()

In [30]:
date_time = r_json["STATION"][0]["OBSERVATIONS"]['date_time']

In [31]:
date_time

['2022-10-15T00:51:00Z',
 '2022-10-15T01:51:00Z',
 '2022-10-15T02:51:00Z',
 '2022-10-15T03:51:00Z',
 '2022-10-15T04:51:00Z',
 '2022-10-15T05:51:00Z',
 '2022-10-15T06:51:00Z',
 '2022-10-15T07:51:00Z',
 '2022-10-15T08:51:00Z',
 '2022-10-15T09:51:00Z',
 '2022-10-15T10:51:00Z',
 '2022-10-15T11:51:00Z',
 '2022-10-15T12:51:00Z',
 '2022-10-15T13:51:00Z',
 '2022-10-15T14:51:00Z',
 '2022-10-15T15:51:00Z',
 '2022-10-15T16:51:00Z',
 '2022-10-15T17:51:00Z',
 '2022-10-15T18:51:00Z',
 '2022-10-15T19:51:00Z',
 '2022-10-15T20:51:00Z',
 '2022-10-15T21:51:00Z',
 '2022-10-15T22:51:00Z',
 '2022-10-15T23:51:00Z',
 '2022-10-16T00:51:00Z',
 '2022-10-16T01:51:00Z',
 '2022-10-16T02:51:00Z',
 '2022-10-16T03:51:00Z',
 '2022-10-16T04:51:00Z',
 '2022-10-16T05:51:00Z',
 '2022-10-16T06:51:00Z',
 '2022-10-16T07:51:00Z',
 '2022-10-16T08:51:00Z',
 '2022-10-16T09:51:00Z',
 '2022-10-16T10:51:00Z',
 '2022-10-16T11:51:00Z',
 '2022-10-16T12:51:00Z',
 '2022-10-16T13:51:00Z',
 '2022-10-16T14:51:00Z',
 '2022-10-16T15:51:00Z',
 '2022-10-16T16:51:00Z',
 '2022-10-16T17:51:00Z',
 '2022-10-16T18:51:00Z',
 '2022-10-16T19:51:00Z',
 '2022-10-16T20:51:00Z',
 '2022-10-16T21:51:00Z',
 '2022-10-16T22:51:00Z',
 '2022-10-16T23:51:00Z',
 '2022-10-17T00:51:00Z',
 '2022-10-17T01:51:00Z',
 '2022-10-17T02:51:00Z',
 '2022-10-17T03:51:00Z',
 '2022-10-17T04:51:00Z',
 '2022-10-17T05:51:00Z',
 '2022-10-17T06:51:00Z',
 '2022-10-17T07:51:00Z',
 '2022-10-17T08:51:00Z',
 '2022-10-17T09:51:00Z',
 '2022-10-17T10:51:00Z',
 '2022-10-17T11:51:00Z',
 '2022-10-17T12:17:00Z',
 '2022-10-17T12:51:00Z',
 '2022-10-17T13:52:00Z',
 '2022-10-17T14:11:00Z',
 '2022-10-17T14:28:00Z',
 '2022-10-17T14:51:00Z',
 '2022-10-17T15:51:00Z',
 '2022-10-17T16:51:00Z',
 '2022-10-17T17:51:00Z',
 '2022-10-17T18:35:00Z',
 '2022-10-17T18:51:00Z',
 '2022-10-17T19:00:00Z',
 '2022-10-17T19:51:00Z',
 '2022-10-17T20:51:00Z',
 '2022-10-17T21:51:00Z',
 '2022-10-17T22:51:00Z',
 '2022-10-17T23:51:00Z',
 '2022-10-18T00:19:00Z',
 '2022-10-18T00:28:00Z',
 '2022-10-18T00:51:00Z',
 '2022-10-18T01:51:00Z',
 '2022-10-18T02:51:00Z',
 '2022-10-18T03:15:00Z',
 '2022-10-18T03:36:00Z',
 '2022-10-18T03:51:00Z',
 '2022-10-18T04:51:00Z',
 '2022-10-18T05:51:00Z',
 '2022-10-18T06:51:00Z',
 '2022-10-18T07:51:00Z',
 '2022-10-18T08:51:00Z',
 '2022-10-18T09:51:00Z',
 '2022-10-18T10:51:00Z',
 '2022-10-18T11:51:00Z',
 '2022-10-18T12:51:00Z',
 '2022-10-18T13:51:00Z',
 '2022-10-18T14:51:00Z',
 '2022-10-18T15:51:00Z',
 '2022-10-18T16:51:00Z',
 '2022-10-18T17:51:00Z',
 '2022-10-18T18:51:00Z',
 '2022-10-18T19:51:00Z',
 '2022-10-18T20:51:00Z',
 '2022-10-18T21:51:00Z',
 '2022-10-18T22:51:00Z',
 '2022-10-18T23:51:00Z',
 '2022-10-19T00:51:00Z',
 '2022-10-19T01:51:00Z',
 '2022-10-19T02:51:00Z',
 '2022-10-19T03:51:00Z',
 '2022-10-19T04:51:00Z',
 '2022-10-19T05:51:00Z',
 '2022-10-19T06:51:00Z',
 '2022-10-19T07:51:00Z',
 '2022-10-19T08:51:00Z',
 '2022-10-19T09:51:00Z',
 '2022-10-19T10:51:00Z',
 '2022-10-19T11:51:00Z',
 '2022-10-19T12:51:00Z',
 '2022-10-19T13:51:00Z',
 '2022-10-19T14:51:00Z',
 '2022-10-19T15:51:00Z',
 '2022-10-19T16:51:00Z',
 '2022-10-19T17:51:00Z',
 '2022-10-19T18:51:00Z',
 '2022-10-19T19:51:00Z',
 '2022-10-19T20:51:00Z',
 '2022-10-19T21:51:00Z',
 '2022-10-19T22:51:00Z',
 '2022-10-19T23:51:00Z',
 '2022-10-20T00:51:00Z',
 '2022-10-20T01:51:00Z',
 '2022-10-20T02:51:00Z',
 '2022-10-20T03:51:00Z',
 '2022-10-20T04:51:00Z',
 '2022-10-20T05:51:00Z',
 '2022-10-20T06:51:00Z',
 '2022-10-20T07:51:00Z',
 '2022-10-20T08:51:00Z',
 '2022-10-20T09:51:00Z',
 '2022-10-20T10:51:00Z',
 '2022-10-20T11:51:00Z',
 '2022-10-20T12:51:00Z',
 '2022-10-20T13:51:00Z',
 '2022-10-20T14:51:00Z',
 '2022-10-20T15:51:00Z',
 '2022-10-20T16:51:00Z',
 '2022-10-20T17:51:00Z',
 '2022-10-20T18:51:00Z',
 '2022-10-20T19:51:00Z',
 '2022-10-20T20:51:00Z',
 '2022-10-20T21:51:00Z',
 '2022-10-20T22:51:00Z',
 '2022-10-20T23:51:00Z',
 '2022-10-21T00:51:00Z',
 '2022-10-21T01:51:00Z',
 '2022-10-21T02:51:00Z',
 '2022-10-21T03:51:00Z',
 '2022-10-21T04:51:00Z',
 '2022-10-21T05:51:00Z',
 '2022-10-21T06:51:00Z',
 '2022-10-21T07:51:00Z',
 '2022-10-21T08:51:00Z',
 '2022-10-21T09:51:00Z',
 '2022-10-21T10:51:00Z',
 '2022-10-21T11:51:00Z',
 '2022-10-21T12:51:00Z',
 '2022-10-21T13:51:00Z',
 '2022-10-21T14:51:00Z',
 '2022-10-21T15:51:00Z',
 '2022-10-21T16:51:00Z',
 '2022-10-21T17:51:00Z',
 '2022-10-21T18:51:00Z',
 '2022-10-21T19:51:00Z',
 '2022-10-21T20:51:00Z',
 '2022-10-21T21:51:00Z',
 '2022-10-21T22:51:00Z',
 '2022-10-21T23:51:00Z',
 '2022-10-22T00:51:00Z',
 '2022-10-22T01:51:00Z',
 '2022-10-22T02:51:00Z',
 '2022-10-22T03:51:00Z',
 '2022-10-22T04:51:00Z',
 '2022-10-22T05:51:00Z',
 '2022-10-22T06:51:00Z',
 '2022-10-22T07:51:00Z',
 '2022-10-22T08:51:00Z',
 '2022-10-22T09:51:00Z',
 '2022-10-22T10:51:00Z',
 '2022-10-22T11:51:00Z',
 '2022-10-22T12:51:00Z',
 '2022-10-22T13:51:00Z',
 '2022-10-22T14:51:00Z',
 '2022-10-22T15:51:00Z',
 '2022-10-22T16:51:00Z',
 '2022-10-22T17:51:00Z',
 '2022-10-22T18:51:00Z',
 '2022-10-22T19:51:00Z',
 '2022-10-22T20:51:00Z',
 '2022-10-22T21:51:00Z',
 '2022-10-22T22:51:00Z',
 '2022-10-22T23:51:00Z',
 '2022-10-23T00:51:00Z',
 '2022-10-23T01:51:00Z',
 '2022-10-23T02:51:00Z',
 '2022-10-23T03:51:00Z',
 '2022-10-23T04:51:00Z',
 '2022-10-23T05:46:00Z',
 '2022-10-23T05:51:00Z',
 '2022-10-23T06:51:00Z',
 '2022-10-23T07:51:00Z',
 '2022-10-23T08:51:00Z',
 '2022-10-23T09:51:00Z',
 '2022-10-23T10:51:00Z',
 '2022-10-23T11:51:00Z',
 '2022-10-23T12:51:00Z',
 '2022-10-23T13:51:00Z',
 '2022-10-23T14:51:00Z',
 '2022-10-23T15:51:00Z',
 '2022-10-23T16:51:00Z',
 '2022-10-23T17:51:00Z',
 '2022-10-23T18:51:00Z',
 '2022-10-23T19:51:00Z',
 '2022-10-23T20:51:00Z',
 '2022-10-23T21:51:00Z',
 '2022-10-23T22:51:00Z',
 '2022-10-23T23:20:00Z',
 '2022-10-23T23:35:00Z',
 '2022-10-23T23:51:00Z',
 '2022-10-24T00:51:00Z',
 '2022-10-24T01:51:00Z',
 '2022-10-24T02:51:00Z',
 '2022-10-24T03:51:00Z',
 '2022-10-24T04:51:00Z',
 '2022-10-24T05:09:00Z',
 '2022-10-24T05:51:00Z',
 '2022-10-24T06:06:00Z',
 '2022-10-24T06:51:00Z',
 '2022-10-24T07:51:00Z',
 '2022-10-24T08:51:00Z',
 '2022-10-24T09:51:00Z',
 '2022-10-24T09:58:00Z',
 '2022-10-24T10:12:00Z',
 '2022-10-24T10:51:00Z',
 '2022-10-24T11:19:00Z',
 '2022-10-24T11:33:00Z',
 '2022-10-24T11:51:00Z',
 '2022-10-24T11:59:00Z',
 '2022-10-24T12:10:00Z',
 '2022-10-24T12:21:00Z',
 '2022-10-24T12:33:00Z',
 '2022-10-24T12:51:00Z',
 '2022-10-24T13:11:00Z',
 '2022-10-24T13:29:00Z',
 '2022-10-24T13:51:00Z',
 '2022-10-24T14:00:00Z',
 '2022-10-24T14:09:00Z',
 '2022-10-24T14:51:00Z',
 '2022-10-24T15:51:00Z',
 '2022-10-24T16:07:00Z',
 '2022-10-24T16:21:00Z',
 '2022-10-24T16:30:00Z',
 '2022-10-24T16:51:00Z',
 '2022-10-24T17:10:00Z',
 '2022-10-24T17:25:00Z',
 '2022-10-24T17:51:00Z',
 '2022-10-24T18:51:00Z',
 '2022-10-24T19:31:00Z',
 '2022-10-24T19:49:00Z',
 '2022-10-24T20:31:00Z',
 '2022-10-24T20:51:00Z',
 '2022-10-24T21:02:00Z',
 '2022-10-24T21:34:00Z',
 '2022-10-24T21:51:00Z',
 '2022-10-24T22:29:00Z',
 '2022-10-24T22:51:00Z',
 '2022-10-24T23:11:00Z',
 '2022-10-24T23:51:00Z',
 '2022-10-25T00:22:00Z',
 '2022-10-25T00:47:00Z',
 '2022-10-25T00:51:00Z',
 '2022-10-25T01:29:00Z',
 '2022-10-25T01:41:00Z',
 '2022-10-25T01:48:00Z',
 '2022-10-25T01:51:00Z',
 '2022-10-25T01:58:00Z',
 '2022-10-25T02:16:00Z',
 '2022-10-25T02:32:00Z',
 '2022-10-25T02:43:00Z',
 '2022-10-25T02:51:00Z',
 '2022-10-25T03:03:00Z',
 '2022-10-25T03:11:00Z',
 '2022-10-25T03:17:00Z',
 '2022-10-25T03:26:00Z',
 '2022-10-25T03:36:00Z',
 '2022-10-25T03:42:00Z',
 '2022-10-25T03:51:00Z',
 '2022-10-25T04:06:00Z',
 '2022-10-25T04:51:00Z',
 '2022-10-25T05:14:00Z',
 '2022-10-25T05:30:00Z',
 '2022-10-25T05:51:00Z',
 '2022-10-25T06:51:00Z',
 '2022-10-25T07:51:00Z',
 '2022-10-25T08:51:00Z',
 '2022-10-25T09:51:00Z',
 '2022-10-25T10:51:00Z',
 '2022-10-25T11:51:00Z',
 '2022-10-25T12:01:00Z',
 '2022-10-25T12:23:00Z',
 '2022-10-25T12:32:00Z',
 '2022-10-25T12:51:00Z',
 '2022-10-25T12:59:00Z',
 '2022-10-25T13:51:00Z',
 '2022-10-25T14:10:00Z',
 '2022-10-25T14:26:00Z',
 '2022-10-25T14:51:00Z',
 '2022-10-25T15:03:00Z',
 '2022-10-25T15:13:00Z',
 '2022-10-25T15:41:00Z',
 '2022-10-25T15:51:00Z',
 '2022-10-25T16:20:00Z',
 '2022-10-25T16:32:00Z',
 '2022-10-25T16:51:00Z',
 '2022-10-25T17:02:00Z',
 '2022-10-25T17:10:00Z',
 '2022-10-25T17:51:00Z',
 '2022-10-25T18:31:00Z',
 '2022-10-25T18:51:00Z',
 '2022-10-25T19:09:00Z',
 '2022-10-25T19:24:00Z',
 '2022-10-25T19:51:00Z',
 '2022-10-25T20:51:00Z',
 '2022-10-25T21:51:00Z',
 '2022-10-25T22:07:00Z',
 '2022-10-25T22:30:00Z',
 '2022-10-25T22:51:00Z',
 '2022-10-25T23:20:00Z',
 '2022-10-25T23:51:00Z',
 '2022-10-26T00:51:00Z',
 '2022-10-26T01:39:00Z',
 '2022-10-26T01:51:00Z',
 '2022-10-26T02:25:00Z',
 '2022-10-26T02:51:00Z',
 '2022-10-26T03:10:00Z',
 '2022-10-26T03:37:00Z',
 '2022-10-26T03:51:00Z',
 '2022-10-26T03:59:00Z',
 '2022-10-26T04:16:00Z',
 '2022-10-26T04:37:00Z',
 '2022-10-26T04:51:00Z',
 '2022-10-26T04:59:00Z',
 '2022-10-26T05:05:00Z',
 '2022-10-26T05:19:00Z',
 '2022-10-26T05:35:00Z',
 '2022-10-26T05:47:00Z',
 '2022-10-26T05:51:00Z',
 '2022-10-26T06:02:00Z',
 '2022-10-26T06:10:00Z',
 '2022-10-26T06:51:00Z',
 '2022-10-26T07:43:00Z',
 '2022-10-26T07:51:00Z',
 '2022-10-26T08:01:00Z',
 '2022-10-26T08:27:00Z',
 '2022-10-26T08:51:00Z',
 '2022-10-26T09:51:00Z',
 '2022-10-26T10:26:00Z',
 '2022-10-26T10:40:00Z',
 '2022-10-26T10:51:00Z',
 '2022-10-26T11:00:00Z',
 '2022-10-26T11:09:00Z',
 '2022-10-26T11:51:00Z',
 '2022-10-26T12:51:00Z',
 '2022-10-26T13:51:00Z',
 '2022-10-26T14:51:00Z',
 '2022-10-26T15:11:00Z',
 '2022-10-26T15:51:00Z',
 '2022-10-26T15:58:00Z',
 '2022-10-26T16:51:00Z',
 '2022-10-26T17:05:00Z',
 '2022-10-26T17:51:00Z',
 '2022-10-26T18:51:00Z',
 '2022-10-26T19:20:00Z',
 '2022-10-26T19:51:00Z',
 '2022-10-26T20:26:00Z',
 '2022-10-26T20:51:00Z',
 '2022-10-26T21:51:00Z',
 '2022-10-26T22:51:00Z',
 '2022-10-26T23:10:00Z',
 '2022-10-26T23:51:00Z',
 '2022-10-27T00:51:00Z',
 '2022-10-27T01:51:00Z',
 '2022-10-27T02:51:00Z',
 '2022-10-27T03:51:00Z',
 '2022-10-27T04:51:00Z',
 '2022-10-27T05:51:00Z',
 '2022-10-27T06:51:00Z',
 '2022-10-27T07:51:00Z',
 '2022-10-27T08:51:00Z',
 '2022-10-27T09:51:00Z',
 '2022-10-27T10:51:00Z',
 '2022-10-27T11:51:00Z',
 '2022-10-27T12:51:00Z',
 '2022-10-27T13:51:00Z',
 '2022-10-27T14:51:00Z',
 '2022-10-27T15:51:00Z',
 '2022-10-27T16:51:00Z',
 '2022-10-27T17:51:00Z',
 '2022-10-27T18:51:00Z',
 '2022-10-27T19:51:00Z',
 '2022-10-27T20:51:00Z',
 '2022-10-27T21:51:00Z',
 '2022-10-27T22:51:00Z',
 '2022-10-27T23:51:00Z',
 '2022-10-28T00:51:00Z',
 '2022-10-28T01:51:00Z',
 '2022-10-28T02:51:00Z',
 '2022-10-28T03:51:00Z',
 '2022-10-28T04:51:00Z',
 '2022-10-28T05:51:00Z',
 '2022-10-28T06:51:00Z',
 '2022-10-28T07:51:00Z',
 '2022-10-28T08:51:00Z',
 '2022-10-28T09:51:00Z',
 '2022-10-28T10:51:00Z',
 '2022-10-28T11:51:00Z',
 '2022-10-28T12:51:00Z',
 '2022-10-28T13:51:00Z',
 '2022-10-28T14:51:00Z',
 '2022-10-28T15:51:00Z',
 '2022-10-28T16:51:00Z',
 '2022-10-28T17:51:00Z',
 '2022-10-28T18:51:00Z',
 '2022-10-28T19:51:00Z',
 '2022-10-28T20:51:00Z',
 '2022-10-28T21:51:00Z',
 '2022-10-28T22:51:00Z',
 '2022-10-28T23:51:00Z',
 '2022-10-29T00:51:00Z',
 '2022-10-29T01:51:00Z',
 '2022-10-29T02:51:00Z',
 '2022-10-29T03:51:00Z',
 '2022-10-29T04:51:00Z',
 '2022-10-29T05:51:00Z',
 '2022-10-29T06:51:00Z',
 '2022-10-29T07:51:00Z',
 '2022-10-29T08:51:00Z',
 '2022-10-29T09:51:00Z',
 '2022-10-29T10:51:00Z',
 '2022-10-29T11:51:00Z',
 '2022-10-29T12:51:00Z',
 '2022-10-29T13:51:00Z',
 '2022-10-29T14:51:00Z',
 '2022-10-29T15:51:00Z',
 '2022-10-29T16:51:00Z',
 '2022-10-29T17:51:00Z',
 '2022-10-29T18:51:00Z',
 '2022-10-29T19:51:00Z',
 '2022-10-29T20:51:00Z',
 '2022-10-29T21:51:00Z',
 '2022-10-29T22:51:00Z',
 '2022-10-29T23:51:00Z',
 '2022-10-30T00:51:00Z',
 '2022-10-30T01:51:00Z',
 '2022-10-30T02:51:00Z',
 '2022-10-30T03:51:00Z',
 '2022-10-30T04:51:00Z',
 '2022-10-30T05:51:00Z',
 '2022-10-30T06:51:00Z',
 '2022-10-30T07:51:00Z',
 '2022-10-30T08:51:00Z',
 '2022-10-30T09:51:00Z',
 '2022-10-30T10:51:00Z',
 '2022-10-30T11:51:00Z',
 '2022-10-30T12:51:00Z',
 '2022-10-30T13:51:00Z',
 '2022-10-30T14:51:00Z',
 '2022-10-30T15:51:00Z',
 '2022-10-30T16:51:00Z',
 '2022-10-30T17:51:00Z',
 '2022-10-30T18:51:00Z',
 '2022-10-30T19:51:00Z',
 '2022-10-30T20:51:00Z',
 '2022-10-30T21:51:00Z',
 '2022-10-30T22:51:00Z',
 '2022-10-30T23:51:00Z',
 '2022-10-31T00:51:00Z',
 '2022-10-31T01:51:00Z',
 '2022-10-31T02:51:00Z',
 '2022-10-31T03:51:00Z',
 '2022-10-31T04:41:00Z',
 '2022-10-31T04:51:00Z',
 '2022-10-31T05:15:00Z',
 '2022-10-31T05:51:00Z',
 '2022-10-31T06:51:00Z',
 '2022-10-31T07:51:00Z',
 '2022-10-31T08:51:00Z',
 '2022-10-31T09:51:00Z',
 '2022-10-31T10:51:00Z',
 '2022-10-31T11:51:00Z',
 '2022-10-31T12:51:00Z',
 '2022-10-31T13:51:00Z',
 '2022-10-31T14:51:00Z',
 '2022-10-31T15:51:00Z',
 '2022-10-31T17:51:00Z',
 '2022-10-31T18:51:00Z',
 '2022-10-31T19:51:00Z',
 '2022-10-31T20:51:00Z',
 '2022-10-31T21:51:00Z',
 '2022-10-31T22:49:00Z',
 '2022-10-31T22:51:00Z',
 '2022-10-31T23:51:00Z',
 '2022-11-01T00:03:00Z',
 '2022-11-01T00:51:00Z',
 '2022-11-01T01:51:00Z',
 '2022-11-01T02:28:00Z',
 '2022-11-01T02:51:00Z',
 '2022-11-01T03:26:00Z',
 '2022-11-01T03:51:00Z',
 '2022-11-01T04:08:00Z',
 '2022-11-01T04:24:00Z',
 '2022-11-01T04:34:00Z',
 '2022-11-01T04:51:00Z',
 '2022-11-01T05:10:00Z',
 '2022-11-01T05:51:00Z',
 '2022-11-01T06:12:00Z',
 '2022-11-01T06:51:00Z',
 '2022-11-01T07:04:00Z',
 '2022-11-01T07:16:00Z',
 '2022-11-01T07:32:00Z',
 '2022-11-01T07:40:00Z',
 '2022-11-01T07:51:00Z',
 '2022-11-01T07:59:00Z',
 '2022-11-01T08:08:00Z',
 '2022-11-01T08:18:00Z',
 '2022-11-01T08:25:00Z',
 '2022-11-01T08:34:00Z',
 '2022-11-01T08:44:00Z',
 '2022-11-01T08:51:00Z',
 '2022-11-01T09:35:00Z',
 '2022-11-01T09:48:00Z',
 '2022-11-01T09:51:00Z',
 '2022-11-01T09:59:00Z',
 '2022-11-01T10:06:00Z',
 '2022-11-01T10:32:00Z',
 '2022-11-01T10:41:00Z',
 '2022-11-01T10:51:00Z',
 '2022-11-01T11:47:00Z',
 '2022-11-01T11:51:00Z',
 '2022-11-01T12:02:00Z',
 '2022-11-01T12:22:00Z',
 '2022-11-01T12:32:00Z',
 '2022-11-01T12:51:00Z',
 '2022-11-01T13:21:00Z',
 '2022-11-01T13:34:00Z',
 '2022-11-01T13:51:00Z',
 '2022-11-01T14:51:00Z',
 '2022-11-01T15:24:00Z',
 '2022-11-01T15:36:00Z',
 '2022-11-01T15:48:00Z',
 '2022-11-01T15:51:00Z',
 '2022-11-01T16:24:00Z',
 '2022-11-01T16:51:00Z',
 '2022-11-01T17:25:00Z',
 '2022-11-01T17:51:00Z',
 '2022-11-01T18:04:00Z',
 '2022-11-01T18:32:00Z',
 '2022-11-01T18:51:00Z',
 '2022-11-01T19:51:00Z',
 '2022-11-01T20:12:00Z',
 '2022-11-01T20:51:00Z',
 '2022-11-01T21:51:00Z',
 '2022-11-01T22:51:00Z',
 '2022-11-01T23:51:00Z',
 '2022-11-02T00:51:00Z',
 '2022-11-02T01:51:00Z',
 '2022-11-02T02:51:00Z',
 '2022-11-02T03:51:00Z',
 '2022-11-02T04:51:00Z',
 '2022-11-02T05:51:00Z',
 '2022-11-02T06:51:00Z',
 '2022-11-02T07:51:00Z',
 '2022-11-02T08:51:00Z',
 '2022-11-02T09:51:00Z',
 '2022-11-02T10:51:00Z',
 '2022-11-02T11:51:00Z',
 '2022-11-02T12:51:00Z',
 '2022-11-02T13:51:00Z',
 '2022-11-02T14:51:00Z',
 '2022-11-02T15:51:00Z',
 '2022-11-02T16:51:00Z',
 '2022-11-02T17:51:00Z',
 '2022-11-02T18:51:00Z',
 '2022-11-02T19:51:00Z',
 '2022-11-02T20:51:00Z',
 '2022-11-02T21:51:00Z',
 '2022-11-02T22:51:00Z',
 '2022-11-02T23:51:00Z',
 '2022-11-03T00:51:00Z',
 '2022-11-03T01:51:00Z',
 '2022-11-03T02:51:00Z',
 '2022-11-03T03:51:00Z',
 '2022-11-03T04:51:00Z',
 '2022-11-03T05:51:00Z',
 '2022-11-03T06:51:00Z',
 '2022-11-03T07:51:00Z',
 '2022-11-03T08:51:00Z',
 '2022-11-03T09:51:00Z',
 '2022-11-03T10:51:00Z',
 '2022-11-03T11:51:00Z',
 '2022-11-03T12:51:00Z',
 '2022-11-03T13:51:00Z',
 '2022-11-03T14:51:00Z',
 '2022-11-03T15:51:00Z',
 '2022-11-03T16:51:00Z',
 '2022-11-03T18:00:00Z',
 '2022-11-03T18:51:00Z',
 '2022-11-03T19:51:00Z',
 '2022-11-03T20:51:00Z',
 '2022-11-03T21:51:00Z',
 '2022-11-03T22:51:00Z',
 '2022-11-03T23:51:00Z',
 '2022-11-04T00:51:00Z',
 '2022-11-04T01:51:00Z',
 '2022-11-04T02:51:00Z',
 '2022-11-04T03:51:00Z',
 '2022-11-04T04:51:00Z',
 '2022-11-04T05:51:00Z',
 '2022-11-04T06:51:00Z',
 '2022-11-04T07:51:00Z',
 '2022-11-04T08:51:00Z',
 '2022-11-04T09:51:00Z',
 '2022-11-04T10:51:00Z',
 '2022-11-04T11:51:00Z',
 '2022-11-04T12:44:00Z',
 '2022-11-04T12:51:00Z',
 '2022-11-04T13:14:00Z',
 '2022-11-04T13:51:00Z',
 '2022-11-04T14:51:00Z',
 '2022-11-04T15:51:00Z',
 '2022-11-04T16:51:00Z',
 '2022-11-04T17:51:00Z',
 '2022-11-04T18:51:00Z',
 '2022-11-04T19:51:00Z',
 '2022-11-04T20:51:00Z',
 '2022-11-04T21:51:00Z',
 '2022-11-04T22:51:00Z',
 '2022-11-04T23:51:00Z',
 '2022-11-05T00:51:00Z',
 '2022-11-05T01:51:00Z',
 '2022-11-05T02:51:00Z',
 '2022-11-05T03:51:00Z',
 '2022-11-05T04:51:00Z',
 '2022-11-05T05:51:00Z',
 '2022-11-05T06:51:00Z',
 '2022-11-05T07:51:00Z',
 '2022-11-05T08:51:00Z',
 '2022-11-05T09:51:00Z',
 '2022-11-05T10:51:00Z',
 '2022-11-05T11:51:00Z',
 '2022-11-05T12:51:00Z',
 '2022-11-05T13:51:00Z',
 '2022-11-05T14:51:00Z',
 '2022-11-05T15:51:00Z',
 '2022-11-05T16:51:00Z',
 '2022-11-05T17:51:00Z',
 '2022-11-05T18:51:00Z',
 '2022-11-05T19:51:00Z',
 '2022-11-05T20:51:00Z',
 '2022-11-05T21:51:00Z',
 '2022-11-05T22:51:00Z',
 '2022-11-05T23:51:00Z',
 '2022-11-06T00:51:00Z',
 '2022-11-06T01:51:00Z',
 '2022-11-06T02:51:00Z',
 '2022-11-06T03:51:00Z',
 '2022-11-06T04:51:00Z',
 '2022-11-06T05:51:00Z',
 '2022-11-06T06:51:00Z',
 '2022-11-06T07:51:00Z',
 '2022-11-06T08:51:00Z',
 '2022-11-06T09:51:00Z',
 '2022-11-06T10:51:00Z',
 '2022-11-06T11:51:00Z',
 '2022-11-06T12:51:00Z',
 '2022-11-06T13:51:00Z',
 '2022-11-06T14:51:00Z',
 '2022-11-06T15:51:00Z',
 '2022-11-06T16:51:00Z',
 '2022-11-06T17:51:00Z',
 '2022-11-06T18:51:00Z',
 '2022-11-06T19:51:00Z',
 '2022-11-06T20:51:00Z',
 '2022-11-06T21:51:00Z',
 '2022-11-06T22:51:00Z',
 '2022-11-06T23:51:00Z',
 '2022-11-07T00:51:00Z',
 '2022-11-07T01:51:00Z',
 '2022-11-07T02:51:00Z',
 '2022-11-07T03:51:00Z',
 '2022-11-07T04:51:00Z',
 '2022-11-07T05:51:00Z',
 '2022-11-07T06:51:00Z',
 '2022-11-07T07:51:00Z',
 '2022-11-07T08:51:00Z',
 '2022-11-07T09:51:00Z',
 '2022-11-07T10:51:00Z',
 '2022-11-07T11:51:00Z',
 '2022-11-07T12:51:00Z',
 '2022-11-07T13:51:00Z',
 '2022-11-07T14:51:00Z',
 '2022-11-07T15:51:00Z',
 '2022-11-07T16:51:00Z',
 '2022-11-07T17:51:00Z',
 '2022-11-07T18:51:00Z',
 '2022-11-07T19:51:00Z',
 '2022-11-07T20:51:00Z',
 '2022-11-07T21:51:00Z',
 '2022-11-07T22:51:00Z',
 '2022-11-07T23:51:00Z',
 '2022-11-08T00:51:00Z',
 '2022-11-08T01:51:00Z',
 '2022-11-08T02:51:00Z',
 '2022-11-08T03:51:00Z',
 '2022-11-08T04:51:00Z',
 '2022-11-08T05:51:00Z',
 '2022-11-08T06:51:00Z',
 '2022-11-08T07:51:00Z',
 '2022-11-08T08:51:00Z',
 '2022-11-08T09:51:00Z',
 '2022-11-08T10:51:00Z',
 '2022-11-08T11:51:00Z',
 '2022-11-08T12:51:00Z',
 '2022-11-08T13:51:00Z',
 '2022-11-08T14:51:00Z',
 '2022-11-08T15:51:00Z',
 '2022-11-08T16:51:00Z',
 '2022-11-08T17:51:00Z',
 '2022-11-08T18:51:00Z',
 '2022-11-08T19:51:00Z',
 '2022-11-08T20:51:00Z',
 '2022-11-08T21:51:00Z',
 '2022-11-08T22:51:00Z',
 '2022-11-08T23:51:00Z',
 '2022-11-09T00:51:00Z',
 '2022-11-09T01:51:00Z',
 '2022-11-09T02:51:00Z',
 '2022-11-09T03:51:00Z',
 '2022-11-09T04:51:00Z',
 '2022-11-09T05:51:00Z',
 '2022-11-09T06:51:00Z',
 '2022-11-09T07:51:00Z',
 '2022-11-09T08:51:00Z',
 '2022-11-09T09:51:00Z',
 '2022-11-09T10:51:00Z',
 '2022-11-09T11:51:00Z',
 '2022-11-09T12:51:00Z',
 '2022-11-09T13:51:00Z',
 '2022-11-09T14:51:00Z',
 '2022-11-09T15:51:00Z',
 '2022-11-09T16:51:00Z',
 '2022-11-09T17:51:00Z',
 '2022-11-09T18:51:00Z',
 '2022-11-09T19:51:00Z',
 '2022-11-09T20:51:00Z',
 '2022-11-09T21:51:00Z',
 '2022-11-09T22:51:00Z',
 '2022-11-09T23:51:00Z',
 '2022-11-10T00:51:00Z',
 '2022-11-10T01:51:00Z',
 '2022-11-10T02:51:00Z',
 '2022-11-10T03:51:00Z',
 '2022-11-10T04:51:00Z',
 '2022-11-10T05:51:00Z',
 '2022-11-10T06:51:00Z',
 '2022-11-10T07:51:00Z',
 '2022-11-10T08:51:00Z',
 '2022-11-10T09:51:00Z',
 '2022-11-10T10:51:00Z',
 '2022-11-10T11:51:00Z',
 '2022-11-10T12:51:00Z',
 '2022-11-10T13:51:00Z',
 '2022-11-10T14:51:00Z']

In [32]:
highs = r_json["STATION"][0]["OBSERVATIONS"]['air_temp_high_24_hour_set_1']

In [33]:
highs

[None,
 None,
 None,
 None,
 66.92,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 68.0,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 64.04,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 66.02,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 55.94,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 53.96,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 57.92,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 62.06,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 66.02,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 60.98,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 60.98,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 69.98,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 71.96,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 64.94,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 55.94,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 57.92,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 62.96,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 64.94,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 66.92,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 69.98,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 66.92,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 69.98,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 75.92,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 75.02,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 77.0,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 57.92,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 53.06,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [34]:
k = pd.Series(highs, index=date_time).dropna()
k

2022-10-15T04:51:00Z    66.92
2022-10-16T04:51:00Z    68.00
2022-10-17T04:51:00Z    64.04
2022-10-18T04:51:00Z    66.02
2022-10-19T04:51:00Z    55.94
2022-10-20T04:51:00Z    53.96
2022-10-21T04:51:00Z    57.92
2022-10-22T04:51:00Z    62.06
2022-10-23T04:51:00Z    66.02
2022-10-24T04:51:00Z    60.98
2022-10-25T04:51:00Z    60.98
2022-10-26T04:51:00Z    69.98
2022-10-27T04:51:00Z    71.96
2022-10-28T04:51:00Z    64.94
2022-10-29T04:51:00Z    55.94
2022-10-30T04:51:00Z    57.92
2022-10-31T04:51:00Z    62.96
2022-11-01T04:51:00Z    64.94
2022-11-02T04:51:00Z    66.92
2022-11-03T04:51:00Z    69.98
2022-11-04T04:51:00Z    66.92
2022-11-05T04:51:00Z    69.98
2022-11-06T04:51:00Z    75.92
2022-11-07T04:51:00Z    75.02
2022-11-08T04:51:00Z    77.00
2022-11-09T04:51:00Z    57.92
2022-11-10T04:51:00Z    53.06
dtype: float64

In [35]:
df = k.to_frame()
df = df.shift(-1).dropna()

In [36]:
df.columns = ["temp_float"]

In [37]:
df["temp_int"] = df["temp_float"].round().astype(int)

In [38]:
df["City"] = 'NYC'
df

                      temp_float  temp_int City
2022-10-15T04:51:00Z       68.00        68  NYC
2022-10-16T04:51:00Z       64.04        64  NYC
2022-10-17T04:51:00Z       66.02        66  NYC
2022-10-18T04:51:00Z       55.94        56  NYC
2022-10-19T04:51:00Z       53.96        54  NYC
2022-10-20T04:51:00Z       57.92        58  NYC
2022-10-21T04:51:00Z       62.06        62  NYC
2022-10-22T04:51:00Z       66.02        66  NYC
2022-10-23T04:51:00Z       60.98        61  NYC
2022-10-24T04:51:00Z       60.98        61  NYC
2022-10-25T04:51:00Z       69.98        70  NYC
2022-10-26T04:51:00Z       71.96        72  NYC
2022-10-27T04:51:00Z       64.94        65  NYC
2022-10-28T04:51:00Z       55.94        56  NYC
2022-10-29T04:51:00Z       57.92        58  NYC
2022-10-30T04:51:00Z       62.96        63  NYC
2022-10-31T04:51:00Z       64.94        65  NYC
2022-11-01T04:51:00Z       66.92        67  NYC
2022-11-02T04:51:00Z       69.98        70  NYC
2022-11-03T04:51:00Z       66.92        67  NYC
2022-11-04T04:51:00Z       69.98        70  NYC
2022-11-05T04:51:00Z       75.92        76  NYC
2022-11-06T04:51:00Z       75.02        75  NYC
2022-11-07T04:51:00Z       77.00        77  NYC
2022-11-08T04:51:00Z       57.92        58  NYC
2022-11-09T04:51:00Z       53.06        53  NYC

In [203]:
conn = sqlite3.connect('../data/data.db')
cursor = conn.cursor()

In [181]:
cursor.execute("""CREATE TABLE IF NOT EXISTS observed_temp
    (ID INT PRIMARY KEY,
    CITY TEXT NOT NULL,
    DATE TEXT NOT NULL,
    TEMPERATURE INTEGER NOT NULL);""")

In [204]:
insert_query = """INSERT INTO observed_temp
               (CITY, DATE, TEMPERATURE)
               VALUES (?, ?, ?)"""

In [185]:
df["date"] = df.index

In [201]:
to_write = df[["City", "date", "temp_int"]].values.tolist()
to_write

[['NYC', '2022-10-15T04:51:00Z', 68],
 ['NYC', '2022-10-16T04:51:00Z', 64],
 ['NYC', '2022-10-17T04:51:00Z', 66],
 ['NYC', '2022-10-18T04:51:00Z', 56],
 ['NYC', '2022-10-19T04:51:00Z', 54],
 ['NYC', '2022-10-20T04:51:00Z', 58],
 ['NYC', '2022-10-21T04:51:00Z', 62],
 ['NYC', '2022-10-22T04:51:00Z', 66],
 ['NYC', '2022-10-23T04:51:00Z', 61],
 ['NYC', '2022-10-24T04:51:00Z', 61],
 ['NYC', '2022-10-25T04:51:00Z', 70],
 ['NYC', '2022-10-26T04:51:00Z', 72],
 ['NYC', '2022-10-27T04:51:00Z', 65],
 ['NYC', '2022-10-28T04:51:00Z', 56],
 ['NYC', '2022-10-29T04:51:00Z', 58],
 ['NYC', '2022-10-30T04:51:00Z', 63],
 ['NYC', '2022-10-31T04:51:00Z', 65],
 ['NYC', '2022-11-01T04:51:00Z', 67],
 ['NYC', '2022-11-02T04:51:00Z', 70],
 ['NYC', '2022-11-03T04:51:00Z', 67],
 ['NYC', '2022-11-04T04:51:00Z', 70],
 ['NYC', '2022-11-05T04:51:00Z', 76],
 ['NYC', '2022-11-06T04:51:00Z', 75]]

In [205]:
cursor.executemany(insert_query, to_write)

In [206]:
conn.commit()

In [207]:
conn.close()

## Updating

Okay the main issue is that a given day's max temp is sent out on the next day.

In [39]:
conn = sqlite3.connect('../data/data.db')
cursor = conn.cursor()

In [40]:
most_recent_day = """SELECT date(DATE) FROM observed_temp
ORDER BY date(DATE) desc
LIMIT 1;
"""

In [47]:
cursor.execute(most_recent_day)

In [48]:
start_date = cursor.fetchall()[0][0]

In [49]:
conn.close()

In [53]:
start_date_to_send = start_date.replace("-", "")+"0001"

In [55]:
final_url = f"{base_url}&stid={stid}&start={start_date_to_send}&units=temp|F&end={today}&showemptystations=1&token={token}"
final_url

'https://api.synopticdata.com/v2/stations/timeseries?&stid=knyc&start=202211060001&units=temp|F&end=202211101619&showemptystations=1&token=933a6b2f4c4e46898f8e80c91225fd04'

In [7]:
def date_dataframe(final_url):
    r = requests.get(final_url)
    if not r.ok:
        print("Error")
        return
    
    r_json = r.json()
    
    date_time = r_json["STATION"][0]["OBSERVATIONS"]['date_time']
    highs = r_json["STATION"][0]["OBSERVATIONS"]['air_temp_high_24_hour_set_1']
    k = pd.Series(highs, index=date_time).dropna()
    df = k.to_frame()
    df = df.shift(-1).dropna()
    df.columns = ["temp_float"]
    df["temp_int"] = df["temp_float"].round().astype(int)
    return df
    
df = date_dataframe(final_url)

### Trim off the most recent day

In [88]:
df

                      temp_float  temp_int
2022-11-06T04:51:00Z       75.02        75
2022-11-07T04:51:00Z       77.00        77
2022-11-08T04:51:00Z       57.92        58
2022-11-09T04:51:00Z       53.06        53

In [85]:
pd.to_datetime(df.index)

DatetimeIndex(['2022-11-06 04:51:00+00:00', '2022-11-07 04:51:00+00:00',
               '2022-11-08 04:51:00+00:00', '2022-11-09 04:51:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [86]:
pd.to_datetime(start_date)

Timestamp('2022-11-06 00:00:00')

In [104]:
def prep_to_write(df, city, start_date):
    
    df["city"] = city
    df["date"] = df.index
    to_write = df[["city", "date", "temp_int"]].values.tolist()
    
    final_to_return = []
    for row in to_write:
        date = row[1].split("T")[0]
        if date > start_date:
            final_to_return.append([row[0], date, row[2]])
    
    return final_to_return


to_write = prep_to_write(df, "NYC", start_date)
to_write

[['NYC', '2022-11-07', 77],
 ['NYC', '2022-11-08', 58],
 ['NYC', '2022-11-09', 53]]

In [105]:
def write_observed_temps(to_write):
    
    conn = sqlite3.connect('../data/data.db')
    cursor = conn.cursor()
    
    insert_query = """INSERT INTO observed_temp
               (CITY, DATE, TEMPERATURE)
               VALUES (?, ?, ?)"""
    
    cursor.executemany(insert_query, to_write)
    
    conn.commit()
    conn.close()
    
write_observed_temps(to_write)

### Now let's init Chicago

`final_url = f"{base_url}&stid={stid}&start={start_date_to_send}&units=temp|F&end={today}&showemptystations=1&token={token}"
final_url`

In [108]:
start = '2022-10-15'
end = '2022-11-04'

In [119]:
city_to_stid = {
    "NYC":"knyc",
    "CHI":"kmdw"
}

synoptic_base_url = "https://api.synopticdata.com/v2/stations/timeseries?"

In [111]:
def format_date(date):
    """YYYY-MM-DD -> YYYYMMDD0001"""
    
    date_now = date.replace("-", "")
    
    return date_now + "0001"

In [113]:
def get_token():
    config = configparser.ConfigParser()
    config.read("../config")
    return config["synoptic"]["token"]

In [117]:
def format_url(city, start, end):
    """
    Parameters:
    city - string: either 'NYC' or 'CHI'
    start - a date in format YYYY-MM-DD
    end - string: either 'today' or date in format YYYY-MM-DD"""
    
    stid = city_to_stid[city]
    
    start = format_date(start)
    
    if end == 'today':
        end =  datetime.now().strftime("%Y%m%d%H%M")
    else:
        end = format_date(end)
        
    token = get_token()
    
    final_url = f"{synoptic_base_url}&stid={stid}&start={start}&units=temp|F&end={end}&showemptystations=1&token={token}"
    
    return final_url
    
final_url = format_url("CHI", start, end)
final_url

'https://api.synopticdata.com/v2/stations/timeseries?&stid=kmdw&start=202210150001&units=temp|F&end=202211040001&showemptystations=1&token=933a6b2f4c4e46898f8e80c91225fd04'

In [118]:
date_dataframe(final_url)

                      temp_float  temp_int
2022-10-15T05:53:00Z       55.04        55
2022-10-16T05:53:00Z       57.02        57
2022-10-17T05:53:00Z       44.96        45
2022-10-18T05:53:00Z       50.00        50
2022-10-19T05:53:00Z       50.00        50
2022-10-20T05:53:00Z       62.96        63
2022-10-21T05:53:00Z       78.08        78
2022-10-22T05:53:00Z       82.04        82
2022-10-23T05:53:00Z       80.96        81
2022-10-24T05:53:00Z       78.98        79
2022-10-25T05:53:00Z       71.06        71
2022-10-26T05:53:00Z       57.02        57
2022-10-27T05:53:00Z       53.96        54
2022-10-28T05:53:00Z       60.98        61
2022-10-29T05:53:00Z       66.92        67
2022-10-30T05:53:00Z       66.92        67
2022-10-31T05:53:00Z       60.98        61
2022-11-01T05:53:00Z       69.98        70
2022-11-02T05:53:00Z       73.94        74

In [2]:
import sys
sys.path.append("..")

import src.scraper as scraper

In [3]:
start = '2022-10-15'
end = '2022-11-04'

In [4]:
final_url = scraper.format_url("CHI", start, end)
final_url

'https://api.synopticdata.com/v2/stations/timeseries?&stid=kmdw&start=202210150001&units=temp|F&end=202211040001&showemptystations=1&token=933a6b2f4c4e46898f8e80c91225fd04'

In [5]:
df = scraper.date_dataframe(final_url)
df

                      temp_float  temp_int
2022-10-15T05:53:00Z       55.04        55
2022-10-16T05:53:00Z       57.02        57
2022-10-17T05:53:00Z       44.96        45
2022-10-18T05:53:00Z       50.00        50
2022-10-19T05:53:00Z       50.00        50
2022-10-20T05:53:00Z       62.96        63
2022-10-21T05:53:00Z       78.08        78
2022-10-22T05:53:00Z       82.04        82
2022-10-23T05:53:00Z       80.96        81
2022-10-24T05:53:00Z       78.98        79
2022-10-25T05:53:00Z       71.06        71
2022-10-26T05:53:00Z       57.02        57
2022-10-27T05:53:00Z       53.96        54
2022-10-28T05:53:00Z       60.98        61
2022-10-29T05:53:00Z       66.92        67
2022-10-30T05:53:00Z       66.92        67
2022-10-31T05:53:00Z       60.98        61
2022-11-01T05:53:00Z       69.98        70
2022-11-02T05:53:00Z       73.94        74

In [7]:
df = date_dataframe(final_url)
df

NameError: name 'date_dataframe' is not defined

In [3]:
import src.database as database

In [7]:
to_write = database.prep_to_write(df, "CHI", "0000-00-00")
to_write

[['CHI', '2022-10-15', 55],
 ['CHI', '2022-10-16', 57],
 ['CHI', '2022-10-17', 45],
 ['CHI', '2022-10-18', 50],
 ['CHI', '2022-10-19', 50],
 ['CHI', '2022-10-20', 63],
 ['CHI', '2022-10-21', 78],
 ['CHI', '2022-10-22', 82],
 ['CHI', '2022-10-23', 81],
 ['CHI', '2022-10-24', 79],
 ['CHI', '2022-10-25', 71],
 ['CHI', '2022-10-26', 57],
 ['CHI', '2022-10-27', 54],
 ['CHI', '2022-10-28', 61],
 ['CHI', '2022-10-29', 67],
 ['CHI', '2022-10-30', 67],
 ['CHI', '2022-10-31', 61],
 ['CHI', '2022-11-01', 70],
 ['CHI', '2022-11-02', 74]]

In [8]:
database.write_high_temps(to_write)

### And get the most recent ones

In [6]:
start_date = database.most_recent_high_date("CHI")
start_date

'2022-11-02'

In [8]:
final_url = scraper.format_url("CHI", start_date, "today")
final_url

'https://api.synopticdata.com/v2/stations/timeseries?&stid=kmdw&start=202211020001&units=temp|F&end=202211101758&showemptystations=1&token=933a6b2f4c4e46898f8e80c91225fd04'

In [9]:
df = scraper.date_dataframe(final_url)
df

                      temp_float  temp_int
2022-11-02T05:53:00Z       73.94        74
2022-11-03T05:53:00Z       75.02        75
2022-11-04T05:53:00Z       75.92        76
2022-11-05T05:53:00Z       71.06        71
2022-11-06T05:53:00Z       64.04        64
2022-11-07T05:53:00Z       57.92        58
2022-11-08T05:53:00Z       53.96        54
2022-11-09T05:53:00Z       69.98        70

In [10]:
to_write = database.prep_to_write(df, "CHI", start_date)
to_write

[['CHI', '2022-11-03', 75],
 ['CHI', '2022-11-04', 76],
 ['CHI', '2022-11-05', 71],
 ['CHI', '2022-11-06', 64],
 ['CHI', '2022-11-07', 58],
 ['CHI', '2022-11-08', 54],
 ['CHI', '2022-11-09', 70]]

In [11]:
database.write_high_temps(to_write)